body {
    background-color: rgb(4, 186, 40);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    border: 10px solid rgb(255, 0, 0); 
    padding: 0px; 
    margin: 0px;
    min-height: 100dvh;
    box-sizing: border-box;

}

h2 {
    color: rgb(255, 0, 0);
    font-size: 35px;
    padding-left: 20px; 
    margin-left: 20px;
}

h1 {
    color:rgb(166, 0, 255);
    font-size: 50px;
}

p {
    color: blue;
    font-size: 25px;
    padding-left: 20px; 
    margin-left: 20px;
}

.center {
    text-align: center;
    padding-left: 20px; 
    margin-left: 20px;
}

ul{
    color: aqua;
    font-size: 25px;
    padding-left: 20px; 
    margin-left: 20px;
}