body {
    background-color: yellow;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    border: 10px solid red; 
    padding: 20px; 
    margin: 20px;
}

.container {
    background-color: blue;
}

.center {
    text-align: center;
}